Source: swauth
Section: net
Priority: optional
Maintainer: Gregory Holt <gholt@rackspace.com>
Uploaders: Gregory Holt <gholt@rackspace.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-support (>= 0.90),
 python-setuptools,
 python-sphinx (>= 1.0)
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/gholt/swauth
Vcs-Browser: https://github.com/gholt/swauth
Vcs-Bzr: https://github.com/gholt/swauth


Package: python-swauth
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-openssl,
 python-setuptools,
 python-pastedeploy,
 python-simplejson,
 python-xattr,
 python-netifaces,
 python-greenlet (>= 0.3.1),
 python-eventlet (>= 0.9.8),
 swift-proxy (>=1.7.6)
Provides: ${python:Provides}
Description: An Auth Service for Swift as WSGI Middleware that uses Swift
 itself as a backing store.

Package: swauth-doc
Architecture: all
Section: doc
Depends: libjs-jquery, ${misc:Depends}
Description: The Swauth documentation
 Sphinx documentation for Swauth.
